# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.sdf
*.obj
*.suo

sources/ipch
sources/Debug
sources/Release

sources/BuyTicket/Debug
sources/BuyTicket/Release
